@import url("react-toastify/dist/ReactToastify.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Montserrat", sans-serif;
	position: relative;
	overflow-x: hidden;
}

.active-nav {
	border-left: 3px solid white;
	padding-left: 0.5rem;
}
